<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'Imagenes/Logo_2.png' %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Bienvenido</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/gaia.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'assets/css/fonts/pe-icon-7-stroke.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="{% url 'Home' %}" class="navbar-brand">
                    UniversidApp
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="https://www.usm.cl/" target="_blank">Universidad</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://aula.usm.cl/" class="dropdown-toggle" data-toggle="dropdown">
                             Aula Virtual
                        </a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/Cierre Sesion/" target="_blank">Cerrar Sesion</a>
                    </li>
                    <li>
                    </li>
                    <li class="button-get-started"><img data-toggle="dropdown" class="button-get-started nav-link" src="{% static 'assets/img/login.png' %}" width="50" height="50"></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url({% static 'assets/img/1.png' %})">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 class="title-modern">Bienvenido</h1>
                        <h3>{{name}}</h2>
                      <div class="separator line-separator">♦</div>
                    </div>

                    <div class="button-get-started">
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" target="_blank" class="btn btn-white btn-fill btn-lg ">
                            Novedades
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Tus Aplicaciones</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">En UniversidApp estamos comprometido con mejorar el rendimiento de los estudiantes. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div>
                            <div class="button-get-started">
                                <a href="{% url 'UniCalculate' %}"><img src="{% static 'assets/img/UniCalculate.png' %}" width="72" height="72"></a>
                            </div>
                        </div>
                        <h3>UniCalculate</h3>
                        <p class="description">Con UniCalculate podras calcular tus promedios y realizar predicciones de acuerdo a tu rendimiento.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div>
                            <div class="button-get-started">
                                <a href="{% url 'creadorhorario' %}"><img src="{% static 'assets/img/UniCalendar_2.png' %}" width="72" height="72"></a>
                            </div>
                        </div>
                        <h3>UniCalendar</h3>
                        <p class="description">Con UniCalendar podras organizar tus tiempos y tus horarios, para no olvidarte de tus obligaciones como estudiante.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div>
                            <div class="button-get-started">
                                <a href="{% url 'unichat' %}"><img src="{% static 'assets/img/UniversiChat.png' %}" width="72" height="72"></a>
                            </div>
                            
                        </div>
                        <h3>UniversiChat</h3>
                        <p class="description">Con UniversiChat podras contactarte y compartir con tus compañeros para apoyarse mutuamente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image"
                style="background-image: url({% static 'assets/img/office-1.jpeg' %})">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">¿Quieres ser parte de UniversidApp?</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> Constantemente trabajamos para incorporar más instituaciones en nuestra App por lo que te invitamos a ser parte de UniversidApp.</p>
                </div>

                <div class="button-get-started">
                    <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contactarse</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title">Empresa</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url 'Home' %}">Pagina de Inicio</a></li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Trabaja con Nosotros</a>
                                </li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Proyectos</a>
                                </li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Portafolio</a>
                                </li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Acerca de</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title"> Ayuda y Soporte</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a href="mailto:universidappc@gmail.com">Contacto</a>
                                </li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Noticias</a>
                                </li>
                                <li>
                                    <a href="{% url 'terminos' %}">Terminos y condiciones</a>
                                </li>
                                <li>
                                    <a href="{% url 'terminos' %}">Politica</a>
                                </li>
                                <li>
                                    <a href="{% url 'Mantencion' %}">Anuncios</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title">Ultimas Noticias</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://twitter.com/Benjami06830606/status/1460442230640898050">
                                        <i class="fa fa-twitter"></i> <b>Increible Aplicación.</b> Gracias a su aplicación, puede organizar mejor mis tiempos.
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CWUjpE3rMAL/">
                                        <i class="fa fa-instagram"></i> Estupenda App. <b> Muchas Gracias</b> por la aplicacion, era justo lo que necesitaba.
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Siguenos</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100074893062540" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/UniversidApp_Oficial/" class="btn btn-social btn-dribbble btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/UniversidApp" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-google-plus-square"></i> Google+
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © 2020 <script> document.write(new Date().getFullYear()) </script> Sebeval, a tu servicio
            </div>
        </div>
    </footer>

</body>

<!--   core js files    -->
<script src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.js' %}" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="{% static 'assets/js/modernizr.js' %}"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="{% static 'assets/js/gaia.js' %}"></script>

</html>
